.ant-layout-content {
  @apply bg-backgroundColorMain;
  @apply justify-center;
  @apply items-center;

  .intro-layout {
    @apply flex;

    .email-section {
      width: 10%;
      @apply flex;
      @apply justify-center;
      @apply items-center;
      
      .email {
        transform: rotate(-90deg);
        @apply text-white_300;
        @apply text-24;
        @apply font-montserrat;
      }
    }

    .intro-section {
      width: 80%;
      @apply flex;
      @apply flex-col;
      @apply justify-center;
      @apply items-center;
      @apply text-white_300;

      .logo {
        width: 488px;
        height: 100px;
      }

      .text {
        width: 900px;
        @apply text-center;
        margin-top: 100px;
        @apply text-24;
        @apply font-montserrat;
      }
    }

    .tab-section {
      width: 10%;
      @apply flex;
      @apply justify-center;
      @apply items-center;

      .tab-modal {
        transform: rotate(-90deg);
        @apply text-white_300;
        @apply text-24;
        @apply font-montserrat;
      }
    }
  }
}



